:root {
  --color-text: #313131;
  --color-text-white: #ffff;
  --color-text-red: #f54932;
  --color-button-default: #1f1f1f;
  --color-button-hover: #fbce51;
  --color-button-disabled: #313131;
  --font-family-1: "Merriweather";
  --font-family-2: "Golos Text";
  --color-background-ticker: #f54932;
  --color-border-table: #d0d0d0;
  --color-text-href: #3057a2;
  --color-bg-footer: #e9ded4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  overflow: hidden;
}

/* HEADER */

.header {
  background-image: url("./assets/background_header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__logo {
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 245px;
  height: 35px;
}

.header__inner {
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 132px;
}

.header__inner-info {
  max-width: 542px;
}

.header__title {
  color: var(--color-text);
  font-size: clamp(36px, 4vw, 60px);
  font-family: var(--font-family-1);
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-top: 62px;
  margin-bottom: 25px;
}

.header__title-2 {
  text-align: center;
}
.header__title-3 {
  text-align: end;
}

.header__description {
  color: var(--color-text);
  font-family: var(--font-family-2);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.header__buttons {
  display: flex;
  gap: 15px;
  margin-top: 45px;
}

.header__button-black {
  width: 263px;
  padding: 1rem 2.5rem;
  font-size: 16px;
  color: var(--color-text-white);
  font-family: var(--font-family-2);
  background-color: var(--color-button-default);
  border-radius: 66px;
  border: none;
  transition: 0.3s all;
  cursor: pointer;
}

.header__button-black:hover {
  background-color: var(--color-button-hover);
  color: var(--color-button-default);
}

.header__button-transparent {
  width: 263px;

  padding: 1rem 5.5rem;
  
  color: var(--color-text);
  font-size: 16px;
  
  border-radius: 66px;
  border: 1px solid var(--color-button-default);
  background-color: transparent;
  transition: 0.3s all;
  cursor: pointer;
}

.header__button-transparent:hover {
  background-color: var(--color-button-default);
  color: var(--color-text-white);
}

/* TICKER */

.marque {
  background-color: var(--color-background-ticker);
  white-space: nowrap;
  overflow: hidden;
}

.marque__inner {
  display: flex;
  align-items: center;
  height: 60px;
}

.marque__inner-1 {
  animation: marque1 30s infinite linear;
  animation-delay: -30s;
}

.marque__inner-2 {
  animation: marque2 30s infinite linear;
  animation-delay: -15s;
}

@keyframes marque1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marque2 {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-200%);
  }
}

.marque__text {
  font-family: var(--font-family-1);
  font-size: 22px;
  color: var(--color-text-white);
  text-transform: uppercase;
}

/* MAIN */

.main__container {
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 140px;
}

.main__info {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main__text {
  font-family: var(--font-family-1);
  color: var(--color-text);
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 135%;
  margin-top: 20px;
}

.main__text-red {
  color: var(--color-text-red);
  font-weight: bold;
}

.main__photo img {
  border-radius: 50%;
}

.main__table {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 180px;
  margin-left: -27px;
  gap: 15px;
}

.main__table-img img {
  
}

.main__table-info {
  display: flex;
  flex-direction: column;
}

.main__table-game {
  display: flex;
  margin-top: 60px;
}

.main__table-game-inner-keys {
  font-family: var(--font-family-2);
  font-size: 20px;
  color: var(--color-text);
  opacity: 70%;
  border-right: 1px solid var(--color-border-table);
}

.main__table-info--inner-key--item {
  padding: 16px 16px 16px 0;
}

.main__table-game-inner-values {
  font-family: var(--font-family-2);
  font-size: 20px;
  color: var(--color-text);
  font-weight: 600;
}

.main__table-game--inner-value {
  padding: 16px;
}

.main__table-info--inner-key--item {
  border-bottom: 1px solid var(--color-border-table);
}

.main__table-game--inner-value {
  border-bottom: 1px solid var(--color-border-table);
}

.main__table-game-text-line {
  text-decoration: line-through;
  text-decoration-color: red;
}

.item-5 {
  border: none;
}

.main__table-href {
  color: var(--color-text-href);
  font-family: var(--font-family-2);
  margin-top: 30px;
  font-size: 20px;
}

/* TRANSFORMATION SECTION */

.transformation {
  margin-bottom: 200px;
}

.transformation__title {
  font-family: var(--font-family-1);
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 54px;
  position: relative;
}

.transformation__subtitle {
  color: var(--color-text-href);
  font-size: 20px;
  font-family: var(--font-family-2);
  text-transform: none;
  position: absolute;
  bottom: 13px;
  left: 300px;
}

.transformation__grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  font-family: var(--font-family-2);
  font-size: 20px;
  font-weight: 400;
}

.transformation__bg-flex {
  background-image: url("./assets/transformation-section-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  display: inline-flex;
  gap: 20px;
  align-items: flex-start;
}

.transformation__grid-item-number {
  background-color: var(--color-text-white);
  padding: 5px 12px;
  border-radius: 50%;
  align-self: self-start;
}

.transformation__grid-item-text {
  width: 55%;
}

.transformation__grid-item-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.transformation__grid-item-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.transformation__grid-item-3 {
  grid-area: 1 / 3 / 3 / 4;
}

.transformation__grid-item-4 {
  grid-area: 2 / 1 / 3 / 2;
}

.transformation__grid-item-5 {
  grid-area: 2 / 2 / 3 / 3;
}

.transformation__grid-item-6 {
  grid-area: 3 / 1 / 4 / 2;
}

.transformation__grid-item-7 {
  grid-area: 3 / 2 / 4 / 4;
}

.transformation__grid-item-img {
  position: absolute;
  right: -75px;
  bottom: 0;
}

/* SLIDER */

.slider {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: auto 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "title title buttons"
    "slider slider slider";
  overflow: hidden;
  position: relative;
}

.slider__title {
  font-family: var(--font-family-1);
  font-size: 54px;
  color: var(--color-text);
  text-transform: uppercase;
  grid-area: title;
  margin-bottom: 60px;
  white-space: nowrap;
  align-self: flex-start;
}

.slider__title-buttons {
  display: flex;
  gap: 14px;
  align-items: center;
  align-self: flex-start;
  grid-area: buttons;
  justify-content: flex-end;
  margin-top: 5px;
}

.slider__title-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-text);
  cursor: pointer;
  position: relative;
  transition: 0.3s all;
  border: none;
}

.slider__title-button:hover {
  background-color: var(--color-button-hover);
}

.slider__title-button::before {
  content: "";
  width: 12px;
  height: 20px;
  background: url("./assets/slider-arrow.svg");
  background-size: contain;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__title-button:last-child {
  transform: rotate(180deg);
}

.btn-left:disabled{
  cursor: not-allowed;
  background-color: var(--color-button-disabled);
  opacity: 20%;
}

.btn-right:disabled{
  cursor: not-allowed;
  background-color: var(--color-button-disabled);
  opacity: 20%;
}

.slider__title-number {
  font-size: 16px;
  font-family: var(--font-family-2);
  color: var(--color-text);
}

.slider__title-number-all {
  opacity: 60%;
}

.slider__cards {
  grid-area: slider;  
  position: relative;
}

.slider__line{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  transition: .5s all;
}

.slider__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 394px;
}

.slider__card-img {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 28px;
}

.slider__card-name {
  font-family: var(--font-family-2);
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 6px;
}

.slider__card-status {
  font-family: var(--font-family-2);
  color: var(--color-text);
  opacity: 60%;
  margin-bottom: 20px;
  font-size: 20px;
}

.slider__card-button {
  font-family: var(--font-family-2);
  color: var(--color-text-href);
  font-weight: 500;
  background-color: transparent;
  border-radius: 62px;
  border: 1px solid;
  border-color: var(--color-text-href);
  width: 113px;
  height: 35px;
  margin: 0 auto;
  transition: 0.3s all;
  font-size: 16px;
}

.slider__card-button:hover {
  background-color: var(--color-text-href);
  color: var(--color-text-white);
}

/* FOOTER */

.footer {
  background-color: var(--color-bg-footer);
  width: 100%;
}

.footer__inner {
  max-width: 1376px;
  padding: 40px 72px 72px 72px;
  margin: 0 auto;
  font-family: var(--font-family-2);
  color: var(--color-text);
  opacity: 60%;
}
