:root {
  --color-text: #313131;
  --color-text-white: #ffff;
  --color-text-red: #f54932;
  --color-button-default: #1f1f1f;
  --color-button-hover: #fbce51;
  --color-button-disabled: #313131;
  --font-family-1: "Merriweather";
  --font-family-2: "Golos Text";
  --color-background-ticker: #f54932;
  --color-border-table: #d0d0d0;
  --color-text-href: #3057a2;
  --color-bg-footer: #e9ded4;
  --color-border-table: #d0d0d0;
  --color-dote-bg-not-active: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  overflow: hidden;
}

/* HEADER */

.header {
  background-image: url("./assets/background_header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__logo {
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 245px;
  height: 35px;
}

.header__inner {
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 132px;
}

.header__inner-info {
  max-width: 542px;
}

.header__title {
  color: var(--color-text);
  font-size: clamp(36px, 4vw, 60px);
  font-family: var(--font-family-1);
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-top: 62px;
  margin-bottom: 25px;
}

.header__title-2 {
  text-align: center;
}
.header__title-3 {
  text-align: end;
}

.header__description {
  color: var(--color-text);
  font-family: var(--font-family-2);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.header__buttons {
  display: flex;
  gap: 15px;
  margin-top: 45px;
}

.header__button-black {
  width: 263px;
  padding: 1rem 2.5rem;
  background-color: var(--color-button-default);
  border-radius: 66px;
  border: none;
  transition: 0.3s all;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-text-white);
  font-family: var(--font-family-2);
  text-align: center;
}


.header__button-black:hover {
  background-color: var(--color-button-hover);
  color: var(--color-button-default);
}

.header__button-transparent {
  width: 263px;
  padding: 1rem 5.5rem;
  font-size: 16px;
  border-radius: 66px;
  border: 1px solid var(--color-button-default);
  background-color: transparent;
  transition: 0.3s all;
  cursor: pointer;
  color: var(--color-text);
  text-align: center;
  font-family: var(--font-family-2);
}

.header__button-transparent:hover {
  background-color: var(--color-button-default);
  color: var(--color-text-white);
}

/* TICKER */

.marque {
  background-color: var(--color-background-ticker);
  white-space: nowrap;
  overflow: hidden;
}

.marque__inner {
  display: flex;
  align-items: center;
  height: 60px;
}

.marque__inner-1 {
  animation: marque1 30s infinite linear;
  animation-delay: -30s;
}

.marque__inner-2 {
  animation: marque2 30s infinite linear;
  animation-delay: -15s;
}

@keyframes marque1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marque2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.marque__text {
  font-family: var(--font-family-1);
  font-size: 22px;
  color: var(--color-text-white);
  text-transform: uppercase;
}

/* MAIN */

.main__container {
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 140px;
}

.main__info {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main__adaptive-mb-visible {
  display: none;
}

.main__text {
  font-family: var(--font-family-1);
  color: var(--color-text);
  font-size: clamp(28px, 4vw, 36px);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 135%;
  margin-top: 20px;
}

.main__text-red {
  color: var(--color-text-red);
  font-weight: bold;
}

.main__photo img {
  border-radius: 50%;
}

.main__table {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 180px;
  margin-left: -27px;
  gap: 15px;
}

.main__table-info {
  display: flex;
  flex-direction: column;
}

.main__table-game {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.main__table-inner {
  display: flex;
  font-family: var(--font-family-2);
  font-size: 20px;
  color: var(--color-text);
}

.main__table-game-mobile {
  display: none;
}

.main__table-game-inner-keys {
  font-family: var(--font-family-2);
  font-size: 20px;
  color: var(--color-text);
}

.main__table-info--inner-key--item {
  flex: 1;
  padding: 16px;
  opacity: 70%;
}

.main__table-game--inner-value {
  padding: 16px;
  font-family: var(--font-family-2);
  font-size: 20px;
  color: var(--color-text);
  font-weight: 600;
  flex: 1;
}

.main__table-game-text-line {
  text-decoration: line-through;
  text-decoration-color: red;
}

.main__table-href {
  color: var(--color-text-href);
  font-family: var(--font-family-2);
  margin-top: 30px;
  font-size: clamp(18px, 1vw, 20px);
  text-decoration: none;
}

/* TRANSFORMATION SECTION */

.transformation {
  margin-bottom: 200px;
}

.transformation__title {
  font-family: var(--font-family-1);
  font-size: clamp(36px, 4vw, 54px);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 54px;
  position: relative;
}

.transformation__subtitle {
  color: var(--color-text-href);
  font-size: clamp(18px, 1vw, 20px);
  font-family: var(--font-family-2);
  text-transform: none;
  position: absolute;
  bottom: 13px;
  left: 300px;
}

.transformation__table {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  font-family: var(--font-family-2);
  font-size: clamp(18px, 1vw, 20px);
  font-weight: 400;
}

.transformation__table-btns {
  display: none;
}

.transformation__bg-flex {
  background-image: url("./assets/transformation-section-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  display: inline-flex;
  gap: 20px;
  align-items: flex-start;
}

.transformation__grid-item-number {
  background-color: var(--color-text-white);
  padding: 5px 12px;
  border-radius: 50%;
  align-self: self-start;
}

.transformation__grid-item-text {
  width: 55%;
}

.transformation__grid-item-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.transformation__grid-item-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.transformation__grid-item-3 {
  grid-area: 1 / 3 / 3 / 4;
}

.transformation__grid-item-4 {
  grid-area: 2 / 1 / 3 / 2;
}

.transformation__grid-item-5 {
  grid-area: 2 / 2 / 3 / 3;
}

.transformation__grid-item-6 {
  grid-area: 3 / 1 / 4 / 2;
}

.transformation__grid-item-7 {
  grid-area: 3 / 2 / 4 / 4;
}

.transformation__grid-item-img {
  position: absolute;
  right: -75px;
  bottom: 0;
}

/* SLIDER */

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title title buttons"
    "slider slider slider";
  overflow: hidden;
  position: relative;
}

.slider__title {
  font-family: var(--font-family-1);
  font-size: clamp(36px, 4vw, 54px);
  color: var(--color-text);
  text-transform: uppercase;
  grid-area: title;
  margin-bottom: 60px;
  white-space: nowrap;
  align-self: flex-start;
}

.slider__title-buttons {
  display: flex;
  gap: 14px;
  align-items: center;
  align-self: flex-start;
  grid-area: buttons;
  justify-content: flex-end;
  margin-top: 5px;
}

.slider__title-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-text);
  cursor: pointer;
  position: relative;
  transition: 0.3s all;
  border: none;
}

.slider__title-button:hover {
  background-color: var(--color-button-hover);
}

.slider__title-button::before {
  content: "";
  width: 12px;
  height: 20px;
  background: url("./assets/slider-arrow.svg");
  background-size: contain;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__title-button:last-child {
  transform: rotate(180deg);
}

.btn-left:disabled {
  cursor: not-allowed;
  background-color: var(--color-button-disabled);
  opacity: 20%;
}

.btn-right:disabled {
  cursor: not-allowed;
  background-color: var(--color-button-disabled);
  opacity: 20%;
}

.slider__title-number {
  font-size: 16px;
  font-family: var(--font-family-2);
  color: var(--color-text);
}

.slider__title-number-all {
  opacity: 60%;
}

.slider__cards {
  grid-area: slider;
  position: relative;
}

.slider__line {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  transition: 0.5s all;
}

.slider__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 394px;
}

.slider__card-img {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 28px;
}

.slider__card-name {
  font-family: var(--font-family-2);
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 6px;
}

.slider__card-status {
  font-family: var(--font-family-2);
  color: var(--color-text);
  opacity: 60%;
  margin-bottom: 20px;
  font-size: 20px;
}

.slider__card-button {
  font-family: var(--font-family-2);
  color: var(--color-text-href);
  font-weight: 500;
  background-color: transparent;
  border-radius: 62px;
  border: 1px solid;
  border-color: var(--color-text-href);
  width: 113px;
  height: 35px;
  margin: 0 auto;
  transition: 0.3s all;
  font-size: 16px;
}

.slider__card-button:hover {
  background-color: var(--color-text-href);
  color: var(--color-text-white);
}

/* FOOTER */

.footer {
  background-color: var(--color-bg-footer);
  width: 100%;
}

.footer__inner {
  max-width: 1376px;
  padding: 40px 72px 72px 72px;
  margin: 0 auto;
  font-family: var(--font-family-2);
  color: var(--color-text);
  opacity: 60%;
}

@media (max-width: 375px) {
  .header {
    background-image: url("./assets/mobile-bg-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header__title {
    margin-top: 40px;
  }

  .header__description {
    text-align: start;
  }

  .header__inner {
    padding: 26px 15px 180px 15px;
  }

  .header__buttons {
    flex-direction: column;
  }

  .header__button-black,
  .header__button-transparent {
    width: 100%;
  }

  .header__button-transparent {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--color-text-white);
    opacity: 90%;
    border: none;
  }

  .marque,
  .marque__inner {
    height: 38px;
  }

  .main__container {
    padding: 48px 20px 0 20px;
    margin-top: 0;
    margin-bottom: 100px;
  }

  .main__info {
    flex-direction: column;
  }

  .main__photo img {
    width: 100%;
  }

  .main__table {
    flex-direction: column;
  }

  .main__table-img img {
    width: 100%;
  }

  .main__adaptive-mb-hide {
    display: none;
  }

  .main__adaptive-mb-visible {
    display: block;
    font-family: var(--font-family-1);
    color: var(--color-text);
    font-size: clamp(28px, 4vw, 36px);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 135%;
    margin-top: 20px;
  }

  .main__table {
    margin: 0 auto;
  }

  .main__table-game {
    margin-top: 44px;
  }

  .main__table-inner {
    flex-direction: column;
    gap: 14px;
    padding: 16px 0 14px 0;
  }

  .main__table-info--inner-key--item,
  .main__table-game--inner-value {
    padding: 0;
  }

  .main__table-vertical-line {
    display: none;
  }

  .main__table-game-mobile {
    display: block;
  }

  .main__table-href {
    margin-bottom: 120px;
  }

  .main__table-game-mobile-item {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding-bottom: 14px;
    padding-top: 16px;
    border-bottom: 1px solid var(--color-border-table);
    font-size: 20px;
    font-family: var(--font-family-2);
    color: var(--color-button-disabled);
  }
  .main__table-game-mobile-item-key {
    opacity: 70%;
  }
  .main__table-game-mobile-item-value {
    font-weight: 600;
    opacity: 100%;
  }

  .main__table-game-mobile-item:last-child {
    border: none;
  }

  .transformation {
    margin-bottom: 120px;
  }

  .transformation__title {
    white-space: wrap;
    margin-bottom: 150px;
  }

  .slider {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "title title title"
      "slider slider slider"
      "button button button";
  }

  .slider__title {
    white-space: wrap;
  }

  .slider__card {
    min-width: 334px;
    margin-bottom: 40px;
  }

  .transformation__grid-item-img {
    top: -200px;
  }

  .transfomation__table-mobile {
    display: block;
    overflow: hidden;
  }

  .transformation__table {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 0.2fr);
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    font-family: var(--font-family-2);
  }

  .transformation__bg-flex {
    display: flex;
    width: 100%;
  }

  .transformation__grid-item-1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .transformation__grid-item-2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .transformation__grid-item-3 {
    grid-area: 1 / 2 / 3 / 3;
  }

  .transformation__grid-item-4 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .transformation__grid-item-5 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .transformation__grid-item-6 {
    grid-area: 1 / 4 / 3 / 5;
  }

  .transformation__grid-item-7 {
    grid-area: 1 / 5 / 3 / 6;
  }

  .transformation__inner {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .transformation__inner-item {
    width: 400px;
  }

  .transformation__subtitle {
    position: static;
    margin-top: 12px;
  }

  .transformation__table-btns {
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: center;
    margin-top: 28px;
  }

  .transformation__table-dotes {
    display: flex;
    gap: 6px;
  }

  .transformation__table-dote {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-dote-bg-not-active);
  }

  .footer__inner {
    padding: 40px 20px 60px 20px;
  }
}
