:root {
  --color-text: #313131;
  --color-text-white: #ffff;
  --color-text-red: #f54932;
  --color-button-default: #1f1f1f;
  --color-button-hover: #fbce51;
  --font-family-1: "Merriweather";
  --font-family-2: "Golos Text";
  --color-background-ticker: #f54932;
  --color-border-table: #d0d0d0;
  --color-text-href: #3057a2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
}

/* HEADER */

.header {
  background-image: url("./assets/background_header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__logo {
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 245px;
  height: 35px;
}

.header__inner {
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 132px;
}

.header__inner-info {
  max-width: 542px;
}

.header__title {
  color: var(--color-text);
  font-size: 60px;
  font-family: var(--font-family-1);
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-top: 62px;
}

.header__title-2 {
  text-align: center;
}

.header__description {
  color: var(--color-text);
  font-family: var(--font-family-2);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.header__buttons {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.header__button-black {
  font-size: 18px;
  color: var(--color-text-white);
  font-family: var(--font-family-2);
  background-color: var(--color-button-default);
  border-radius: 66px;
  border: none;
  padding: 20px 49px;
  transition: 0.3s all;
  cursor: pointer;
}

.header__button-black:hover {
  background-color: var(--color-button-hover);
  color: var(--color-button-default);
}

.header__button-transparent {
  color: var(--color-text);
  font-size: 18px;
  padding: 20px 49px;
  border-radius: 66px;
  border: 1px solid var(--color-button-default);
  background-color: transparent;
  transition: 0.3s all;
  cursor: pointer;
}

.header__button-transparent:hover {
  background-color: var(--color-button-default);
  color: var(--color-text-white);
}

/* TICKER */

/* .ticker {
  width: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}

.ticker__wrapper {
  display: flex;
  animation: ticker 20s linear infinite;
}

.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  white-space: nowrap;
}

@keyframes ticker {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
} */

/* MAIN */

.main__container {
  max-width: 1366px;
  padding: 0 72px;
  margin: 0 auto;
  margin-top: 100px;
}

.main__info {
  display: flex;
  align-items: center;
  gap: 50px;
}

.main__text {
  font-family: var(--font-family-1);
  color: var(--color-text);
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 135%;
}

.main__text-red {
  color: var(--color-text-red);
  font-weight: bold;
}

.main__photo img {
  border-radius: 50%;
}

.main__table {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

.main__table-img img {
  width: 474px;
}

.main__table-info {
  display: flex;
  flex-direction: column;
}

.main__table-game {
  display: flex;
  margin-top: 60px;
}

.main__table-game-inner-keys {
  font-family: var(--font-family-2);
  font-size: 20px;
  color: var(--color-text);
  opacity: 70%;
  border-right: 1px solid var(--color-border-table);
}

.main__table-info--inner-key--item {
  padding: 16px 16px 16px 0;
}

.main__table-game-inner-values {
  font-family: var(--font-family-2);
  font-size: 20px;
  color: var(--color-text);
  font-weight: 600;
}

.main__table-game--inner-value {
  padding: 16px;
}

.main__table-info--inner-key--item {
  border-bottom: 1px solid var(--color-border-table);
}

.main__table-game--inner-value {
  border-bottom: 1px solid var(--color-border-table);
}

.item-5 {
  border: none;
}

.main__table-href {
  color: var(--color-text-href);
  font-family: var(--font-family-2);
  margin-top: 30px;
  font-size: 20px;
}

/* TRANSFORMATION SECTION */

.transformation__title{
  font-family: var(--font-family-1);
  font-size: 54px;
  line-height: 120%;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 70%;
}

.transformation__subtitle{
  color: var(--color-text-href);
  font-size: 20px;
  font-family: var(--font-family-2);
  text-transform: none;
  white-space: wrap;
}

.transformation__subtitle{
  
}

.transformation__grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  font-family: var(--font-family-2);
  font-size: 20px;
  font-weight: 400;
}

.transformation__bg-flex{
  background-image: url('./assets/transformation-section-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.transformation__grid-item-number{
  background-color: var(--color-text-white);
  padding: 3px 10px;
  border-radius: 50%;
  align-self: flex-start;
}

.transformation__grid-item-text{
  width: 55%;
}

.transformation__grid-item-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.transformation__grid-item-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.transformation__grid-item-3 {
  grid-area: 1 / 3 / 3 / 4;
}

.transformation__grid-item-4 {
  grid-area: 2 / 1 / 3 / 2;
}

.transformation__grid-item-5 {
  grid-area: 2 / 2 / 3 / 3;
}

.transformation__grid-item-6 {
  grid-area: 3 / 1 / 4 / 2;
}

.transformation__grid-item-7 {
  grid-area: 3 / 2 / 4 / 4;
}

.transformation__grid-item-img{
  position: absolute;
  right: -75px;
  bottom: 0;
}

/* SLIDER SECTION */

